@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Boring Sans";
  src: url("/fonts/Boring/Boring-Sans-A-Light-trial.ttf") format("truetype");
  font-weight: 300; /* Peso para Light */
  font-style: normal;
}

@font-face {
  font-family: "Boring Sans";
  src: url("/fonts/Boring/Boring-Sans-A-Regular-trial.ttf") format("truetype");
  font-weight: 400; /* Peso para Regular */
  font-style: normal;
}

@font-face {
  font-family: "Boring Sans";
  src: url("/fonts/Boring/Boring-Sans-A-Medium-trial.ttf") format("truetype");
  font-weight: 500; /* Peso para Medium */
  font-style: normal;
}

@font-face {
  font-family: "Boring Sans";
  src: url("/fonts/Boring/Boring-Sans-A-Bold-trial.ttf") format("truetype");
  font-weight: 700; /* Peso para Bold */
  font-style: normal;
}

@font-face {
  font-family: "Boring Sans";
  src: url("/fonts/Boring/Boring-Sans-A-Heavy-trial.ttf") format("truetype");
  font-weight: 800; /* Peso para Heavy */
  font-style: normal;
}

@font-face {
  font-family: "Kabrio-300";
  src: url("/fonts/Kabrio/Kabrio-Light-trial.ttf") format("truetype");
  font-weight: 300; /* Peso para Light */
  font-style: normal;
}

@font-face {
  font-family: "Kabrio-400";
  src: url("/fonts/Kabrio/Kabrio-Book-trial.ttf") format("truetype");
  font-weight: 400; /* Peso para Book */
  font-style: normal;
}

@font-face {
  font-family: "Kabrio-500";
  src: url("/fonts/Kabrio/Kabrio-Regular-trial.ttf") format("truetype");
  font-weight: 500; /* Peso para Regular */
  font-style: normal;
}

@font-face {
  font-family: "Kabrio-700";
  src: url("/fonts/Kabrio/Kabrio-Bold-trial.ttf") format("truetype");
  font-weight: 700; /* Peso para Bold */
  font-style: normal;
}

@font-face {
  font-family: "Kabrio-800";
  src: url("/fonts/Boring/Kabrio-Extrabold-trial.ttf") format("truetype");
  font-weight: 800; /* Peso para Extrabold */
  font-style: normal;
}

.bg-imagen {
  @apply bg-[url('https://drive.google.com/uc?export=view&id=12s4n5Ja029TndsPJjMWunCJx6327sJK5')] bg-cover bg-center bg-no-repeat;
}

.bg-fondo {
  @apply bg-[url('https://res.cloudinary.com/dw0ykegef/image/upload/v1729913043/paulo-dybala-2019-argentina-national-football-team-goal-football-stars_i0jrry.jpg')];
}
